#[derive(Clone, Copy, Debug, PartialEq, Eq, PartialOrd, Ord, Hash)]
#[repr(u8)]
pub enum {{enumRustName}} {
{{#enumItems}}
    {{name}} = {{literal}},
{{/enumItems}}
}

impl Default for {{enumRustName}} {
    #[inline]
    fn default() -> Self { {{enumRustName}}::NullVal }
}

impl From<u8> for {{enumRustName}} {
    #[inline]
    fn from(v: u8) -> Self {
        match v {
        {{#enumFromItems}}
            {{literal}} => Self::{{name}},
        {{/enumFromItems}}
        }
    }
}

